body {
  font-family: Helvetica;
}

h1 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 50px;
}

h2 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

header {
  background-color: #8BD9B2;
  opacity: 0.7;
  margin: 5px 0 5px 0;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.container1 {
    position: relative;
}

.fade1 {
  position: relative;
  width: 100%;
}

.overlay1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #8BD9B2;
  border-radius: 30px;
}

.fade1:hover .overlay1 {
  opacity: 0.7;
}

.text1 {
  color: #fff;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

#bottles {
  height: 320px;
  width: 320px;
  border-radius: 30px;
  max-width: 100%;
  height: auto;
}

  #shopping {
    height: 320px;
    width: 320px;
    border-radius: 30px;
    max-width: 100%;
    height: auto;
}

    #children {
      height: 320px;
      width: 320px;
      border-radius: 30px;
      max-width: 100%;
      height: auto;
}

#map {
  width: 80%;
  height: 400px;
  margin: 0 auto;
}

#logo {
  display: block;
  width: 20%;
  height: 20%;
  padding: 5px 0 5px 0;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
